<div>
    <md-toolbar class="main-tool-bar sidenav-toolbar">
        <div class="md-toolbar-tools">
            <h1>Hood</h1>
        </div>
    </md-toolbar>
    <div class="side-bar-menu">
       <div class="app-menu">
           <md-button class="md-raised md-primary active">
               <i class="fa fa-home"></i>
               <span class="text-ellipsis">Home</span>
           </md-button>
           <md-button class="md-raised md-primary">
               <i class="fa fa-users"></i>
               <span class="text-ellipsis">Contacts</span>
           </md-button>
           <md-button class="md-raised md-primary">
               <i class="fa fa-map-marker"></i>
               <span class="text-ellipsis">Maps</span>
           </md-button>
           <md-button class="md-raised md-primary">
               <i class="fa fa-globe"></i>
               <span class="text-ellipsis">Bangladesh</span>
           </md-button>
       </div>
    </div>
</div>
